<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, in-itial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<title>Ahi nos vemoh!</title>
</head>
<body>
	<header>
		<nav class="barra-navegadora">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<img class="logo" src="../static/img/AV.svg">
				</div>
			</div>
		</nav>	
	</header>
	<main></main>>
		
	</main>
	<footer>
		
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>